/* Common styles for both light and dark themes */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background);
}

.App {
  flex: 1; /* Allows the App div to grow and push footer down */
  display: flex;
  flex-direction: column; /* Allows for vertical stacking */
}

.pages {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Header Styling */
header {
  padding: 10px; 
  text-align: center; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  width: 100%; 
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--font-s);
}

header h1 {
  margin: 0; 
  font-size: 2em;
}

/* Global Footer Styling */
footer {
  padding: 10px 0 10px 0; 
  text-align: center; 
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); 
  width: 100%; 
  background-color: var(--background);
  color: var(--font-s);
}

footer p {
  margin: 0; 
}

h2 {
  text-align: center;
}
